<div id="main-container">
    <form action="/create" id="get-container" method="POST">
        <header>
            <h1>TODO  | App</h1>
        </header>
        <hr>
        <div id="description-container">
            <div class="input-heading">
                <h6>DESCRIPTION</h6>
            </div>
            <div id="input">
                <input type="text" name="description" placeholder="What do you need to do?" required>
            </div>
        </div>
        <hr>
        <div id="category_duedate-container">
            <div id="category-container">
                <div class="input-heading">
                    <h6>CATEGORY</h6>
                </div>
                <select name="category" id="category-dropdown">
                    <option value="none" selected disabled hidden>Choose a category</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="cleaning">Cleaning</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <div id="duedate-container">
                <div class="input-heading">
                    <h6>DUE DATE</h6>
                </div>
                <div id="dd_input">
                    <input type="date" name="duedate" placeholder="dd/mm/yyyy">
                </div>
            </div>
        </div>
        <hr>
        <div class="button-container">
            <div id="submit-button" class="button">
                <i class="fas fa-plus"></i>
                <button type="submit">ADD TASK</button>
            </div>
        </div>
    </form>
    <form method="get" action="/delete-tasks" id="list-container">
        <div id="delete-button" class="button">
            <i class="far fa-trash-alt"></i>
            <button type="submit">DELETE TASKS</button>
        </div>
        <% for(let i of list_todo){%>
            <div id="details-container">
                <div id="checkbox">
                    <input type="checkbox" name="<%= i._id %>" >
                </div>
                <div id="details">
                    <div id="details-heading">
                        <h5><%= i.description %></h5>
                    </div>
                    <div id="date-icon">
                        <i class="far fa-calendar-check"></i>
                        <span>
                            <% if(i.duedate){%>
                                <%= i.duedate%>
                            <%} else{%>
                                No deadline
                            <%}%>
                        </span>
                    </div>
                </div>
                <div id="category">
                        <% if(i.category == 'personal'){%>
                            <p style="background-color: #406FBE;"><%= i.category %></p>
                        <%}else if(i.category == 'work'){%>
                            <p style="background-color: #9A2BAC;"><%= i.category %></p>
                        <%}else if(i.category == 'school'){%>
                            <p style="background-color: #F2A700;"><%= i.category %></p>
                        <%}else if(i.category == 'cleaning'){%>
                            <p style="background-color: orangered;"><%= i.category %></p>
                        <%}else{%>
                            <p><%= i.category %></p>
                        <%}%>
                </div>
            </div>
        <%}%>
    </form>
</div>

<script src="/js/script.js"></script>